@import url("./customFont.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom.css */
@layer base {
  html {
    @apply scroll-smooth overflow-x-hidden font-sans;
  }
  body {
    @apply bg-white overflow-x-hidden;
  }
  h1 {
    @apply lg:text-5xl md:text-4xl text-3xl mx-auto font-black text-pretty text-center;
  }

  nav li {
    @apply px-2 py-1;
  }
}

@layer components {
  .header {
    @apply flex items-center justify-between py-2 px-36;
  }

  .hero-title, .title{
    @apply lg:text-5xl text-4xl font-bold mb-7 font-century
  }
  .title {
    @apply w-fit mx-auto relative z-10;
  }
  .title::after{
    @apply bg-lightning-yellow-500/50;
  }
  .title::after, .mini-title::after{
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    max-width: 896px;
    width: 100%;
    height: 25%;
    z-index: -1;
  }

  .mini-title{
    @apply relative md:mb-7 mb-3 w-fit z-10 text-center mx-auto text-3xl lg:text-4xl font-bold font-century
  }
  .mini-title::after{
    @apply bg-lightning-yellow-500/50
  }

  .card {
    @apply rounded-lg w-full md:aspect-square max-md:h-60 max-w-[600px] md:max-w-[400px] flex items-end p-3 max-md:mx-auto bg-cover;
  }
  .card .textContainer {
    @apply p-3 w-full bg-jungle-green-800/60 backdrop-blur-sm backdrop-filter rounded-lg;
  }
  .card .textContainer p {
    @apply line-clamp-3;
  }

  .sliderContainer {
    @apply w-full relative h-[75vh] mx-auto flex overflow-hidden;
  }
  .slideItem {
    @apply px-8 md:px-16 absolute top-0 left-0 text-white grow content-center w-full h-full opacity-0 transition duration-1000;
  }
  .slideItem.active {
    @apply opacity-100;
  }
  .slideItem img {
    @apply absolute top-0 left-0 w-full h-full object-center object-cover md:object-left -z-20 filter brightness-50;
  }
  .slideItem h2 {
    @apply text-white;
  }
  .slideItem p {
    @apply text-lg max-w-lg mt-7;
  }
  .sliderBtnContainer {
    @apply flex justify-end gap-3 self-end;
  }
  .sliderBtn {
    @apply size-10 md:size-12 rounded-full flex justify-center items-center text-white bg-jungle-green-500;
  }
  .dot-container {
    @apply flex gap-4;
  }
  .dot {
    @apply size-4 md:size-5 relative rounded-full border-2 border-jungle-green-300;
  }
  .dot-inner {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 size-2 md:size-3 rounded-full;
  }
  .dot-inner.active {
    @apply bg-jungle-green-300;
  }

  .profile-card {
    @apply min-w-56 grow p-2 rounded-md max-w-[80%] sm:max-w-60 bg-white flex flex-col items-center justify-between text-center transition-all duration-300 ease-in-out text-black shadow-lg cursor-pointer;
  }
  .profile-card img {
    @apply w-full aspect-square rounded object-cover mb-2;
  }
  .profile-card .text {
    @apply flex flex-col justify-start text-black grow;
  }
  .profile-card h3 {
    @apply text-base;
  }
  .profile-card p {
    @apply text-xl mb-4 font-bold;
  }

  .btn {
    @apply w-fit px-10 py-4 mt-8 block rounded-lg text-xl text-black font-bold bg-lightning-yellow-500 hover:bg-lightning-yellow-400 active:bg-lightning-yellow-700;
  }

  #joinUs .logo {
    @apply p-2 !h-24 md:!h-32 w-auto;
  }

  .gallery {
    @apply flex gap-3 mx-auto shrink-0;
  }
  .gallery .item {
    @apply h-56 w-auto md:h-72 list-none shrink-0 p-[2px];
  }
  .gallery img {
    @apply w-full h-full object-cover object-center rounded;
  }
}
